DATABASE="sqlite" # or postgresql
POSTGRESQL_URL="" # if DATABASE is postgresql

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_REDIRECT_URI="http://localhost:3000/auth/github/callback"
